.flex-container {
  background-color: #afadad;
  margin: 4rem;
  padding: 1rem;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.flex-container > div {
  background-color: DodgerBlue;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;

  /* flex: flex-grow(0) flex-shrink(1) flex-basis(initial width); */
  flex: 1 1 calc(25% - 1rem);
}
