<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid Layout</title>
    <link rel="stylesheet" href="layout.css" />
  </head>
  <body>
    <div class="container">
      <nav>
        <h1 onclick="toggleSidebar()">Logo</h1>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      <aside id="sidebar">Sidebar</aside>
      <main>
        <h2>Main Section</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis enim
          deserunt alias quo voluptate dolores aliquam maxime cupiditate impedit
          quidem, labore explicabo illum omnis itaque repudiandae nobis
          sapiente, dicta laborum. Quis dolorem, accusamus sequi reiciendis,
          quod saepe repellat quaerat quidem possimus ad deserunt modi,
          voluptatem numquam expedita inventore assumenda labore alias nisi
          laborum libero voluptatum ipsam adipisci aperiam quo! Quo tempore
          perspiciatis in eligendi et repudiandae enim quas iure ea libero quis
          ut vitae doloremque voluptatum magni dolorum, saepe laboriosam
          necessitatibus cupiditate ducimus alias deserunt? Eum quidem
          distinctio facilis dicta et, omnis quo laudantium, hic repellat error
          veniam voluptatum ullam?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
          soluta quos facere ducimus iste at molestias? Reiciendis dolores nobis
          obcaecati. Officiis cumque natus doloremque, voluptatem nam quisquam
          eligendi consequuntur reiciendis, laborum ullam, ab assumenda? Quaerat
          laudantium ea minima tempore repellendus. Blanditiis accusantium
          repellat minus, ab deserunt eius aspernatur nobis corporis? Pariatur,
          nisi, ab, voluptate dicta labore optio id officiis voluptas at
          perspiciatis molestias. Excepturi qui atque nobis, laboriosam debitis,
          pariatur possimus consequatur architecto sequi fuga odit modi omnis
          at! Itaque adipisci nostrum placeat quod iure, quam non, ut ipsum modi
          tenetur quas dignissimos dolores? Debitis esse corporis porro.
          Temporibus et neque vero impedit, placeat atque velit? Tenetur nostrum
          quibusdam officia dolore consequatur quas culpa, omnis voluptatum
          fugit repellendus aliquam eius, dolorem voluptate, corrupti eveniet.
          Illo in mollitia dolor facilis a cumque modi numquam, minus delectus
          quia iure quidem eum temporibus asperiores quam placeat necessitatibus
          fugit, ipsa sequi incidunt ratione enim rerum voluptas? Repellendus
          repudiandae labore cum veniam culpa deserunt voluptate, iusto
          similique assumenda, necessitatibus totam ad nemo voluptates alias,
          quo magni quisquam fugit rem animi aut. Velit corrupti repellendus
          dolorum repudiandae inventore, quaerat maxime itaque ipsum
          consequuntur accusamus, dolore suscipit quasi beatae quisquam nisi
          nesciunt dolorem aperiam molestias error! Blanditiis.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero iste
          expedita recusandae in eos ipsa natus accusantium quae fugit
          distinctio, officia, molestiae sit. Minus, assumenda temporibus
          sapiente veniam non corrupti est totam! Fugiat, inventore rem vitae,
          accusamus culpa consectetur qui, iusto recusandae quibusdam deserunt
          ducimus neque cumque voluptas laborum repellendus molestiae sed
          debitis porro maiores! Doloribus voluptate asperiores iste! Doloribus
          sed provident, porro atque enim laborum, similique perferendis unde
          facere corrupti aut harum possimus expedita repellendus. Doloribus
          nulla asperiores ipsam praesentium? Necessitatibus nesciunt porro
          sapiente aperiam numquam. Dicta ipsum ratione minus quos tenetur
          quidem temporibus molestiae, autem culpa nemo, maiores minima! Porro
          unde cupiditate commodi? Molestiae, unde vero a atque laborum ex
          reiciendis facere sint quo blanditiis dicta debitis magni cumque?
          Deleniti iure ea debitis, ad dolor provident nihil obcaecati similique
          incidunt laborum facilis beatae aperiam hic natus rerum! Quidem
          adipisci modi dolor error in illo. Nihil iusto incidunt asperiores
          dolorum nemo alias non atque quas. Magnam, dolores repellat. Nisi
          cumque fuga repellendus delectus commodi. Fugit impedit corporis
          perferendis magni dignissimos nulla minus voluptas at natus, itaque
          tempora iste dolorum, odio possimus tempore voluptate eveniet maxime
          quae! Dolorum accusantium alias repudiandae deleniti aspernatur illo,
          fugiat expedita ut doloremque temporibus officia ad tempore. Ipsa
          explicabo, cupiditate voluptates autem nihil quasi sit natus minus
          eveniet, in aliquid rem aspernatur sed debitis voluptatem veniam
          tenetur. Ut iste quae eos quod quibusdam minima cupiditate blanditiis
          perferendis, tenetur excepturi possimus dolore molestias.
          Reprehenderit culpa ex voluptates dolorem iste minus eum pariatur
          repellat deserunt, omnis voluptatibus, id earum assumenda dignissimos
          obcaecati! Temporibus ex, molestiae nostrum numquam deserunt eaque
          unde nobis veniam, ipsa corporis totam reprehenderit. Doloribus
          aperiam quisquam dolorem qui, cumque eum reprehenderit distinctio
          tempore voluptates? Deserunt distinctio, fugit, voluptas omnis aperiam
          harum numquam, architecto repellendus cupiditate eaque sequi ipsum
          nisi? Numquam aut blanditiis iste perferendis facilis voluptatibus
          adipisci iure dolorum, optio placeat cum debitis illo impedit
          laudantium qui in soluta, ut nemo quis molestias delectus velit vel.
          Asperiores impedit sed non vero fugit ullam magni! Iure libero eum
          odit sunt voluptatum impedit molestiae in quaerat, pariatur deleniti
          assumenda nostrum eius dolorum cum accusantium, nisi totam
          consequuntur sit, quia ad veniam earum nulla necessitatibus. Alias
          animi laborum mollitia nihil, temporibus obcaecati delectus tempora
          deserunt, magnam nisi doloremque qui officia aperiam vel, blanditiis
          quo nam saepe? Odit, iure asperiores hic mollitia itaque obcaecati ut
          deserunt nobis illum sapiente alias exercitationem eius officia
          blanditiis unde debitis sit beatae illo labore ducimus, repellat
          cumque consequuntur? Qui tempora error rerum esse maiores est!
          Aspernatur adipisci voluptas natus soluta quidem ipsum pariatur
          necessitatibus, repudiandae consectetur modi? Nulla, officiis
          perspiciatis blanditiis adipisci quo mollitia exercitationem illum nam
          repellat tempore similique sapiente nobis in! Perferendis rem nesciunt
          voluptatem distinctio quidem similique ipsa magni sequi pariatur
          itaque natus illo fugiat obcaecati odio eveniet rerum dolorem,
          quisquam iste debitis exercitationem amet beatae, eum dicta. Incidunt
          placeat ducimus quis cumque, quam ratione sint perferendis quasi
          delectus unde quisquam a aperiam! Aut tenetur a ad dolorem. Voluptas
          natus aliquam velit iure? Voluptatem similique ipsa unde aliquam
          voluptatibus.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          veniam earum possimus a, ratione unde dicta magnam ducimus
          consequuntur repellat et quod quos voluptas aliquid nisi eveniet,
          quasi autem reiciendis! Eveniet quas dolorem, facere vel autem illo
          soluta impedit, molestiae quidem quisquam nisi rerum quam ea sequi
          ducimus? Tempore illo eligendi aliquam, animi, suscipit ex dolores
          consequatur dolorum dolorem blanditiis impedit obcaecati ullam
          voluptatum ab quo odit distinctio. Voluptas totam consectetur ipsa
          deleniti atque. Nihil voluptatem ipsa, quidem rerum nesciunt
          perferendis aliquam vel! Fugiat atque ducimus facilis repellendus, ex
          architecto harum vel ipsa adipisci et excepturi recusandae aut
          deleniti eaque mollitia blanditiis dolores distinctio sunt nam rem.
          Adipisci eaque, ab laboriosam nobis placeat illum commodi quas quod
          doloribus, nulla ut sunt vitae voluptatibus odit dolorum in possimus
          repellat blanditiis omnis. Ea at placeat fugit doloremque optio
          commodi provident possimus omnis dolores tenetur. Quo pariatur, unde
          qui consectetur vero magni labore repellat eligendi omnis quia fuga
          nemo, harum aperiam adipisci voluptas dolorum explicabo molestias
          perspiciatis ipsa quos eius soluta. Illum, eum in. Quam, consectetur,
          neque debitis accusantium odit doloribus esse sunt blanditiis quos in,
          laboriosam facilis sed architecto. Tempore, ad neque ratione qui dicta
          voluptates vitae ea modi rem dolore quod fugiat harum deserunt esse
          reiciendis omnis explicabo animi voluptate possimus aperiam eveniet
          perferendis soluta libero a? Harum quod reiciendis a modi libero
          quidem aspernatur tempore eum. Quod error quas reiciendis adipisci
          earum ullam blanditiis est suscipit. Ad doloremque sint reiciendis
          provident aspernatur. Illo laborum, quos laudantium sit quo est illum
          quisquam nihil nisi consectetur dolor. Sed, vitae. Rerum sapiente
          possimus enim eius omnis modi ea molestias autem, nostrum vitae, earum
          dolor obcaecati provident laudantium. Eos doloribus itaque magnam
          voluptates ratione, aliquam quo sunt numquam voluptatem delectus
          quibusdam qui quis maxime, voluptate quidem culpa accusantium
          officiis? Consectetur, non. Ab ipsum veritatis natus dignissimos a
          vero rem quos excepturi, doloremque architecto quas tempora alias odio
          repellat labore illum possimus ex. Quia esse omnis corrupti nostrum
          fugit at nobis nisi, reprehenderit quis optio earum adipisci numquam
          cupiditate dolore sed rerum minima, dolores neque nulla fuga? Totam,
          sed illo. Id soluta maiores porro ad exercitationem fugit quo itaque?
          Id accusamus necessitatibus excepturi vitae quam velit veritatis nobis
          fugit consequatur minus, vero ratione ducimus qui blanditiis porro
          magni a aut laudantium pariatur et maiores. Cupiditate corporis atque
          aperiam laborum necessitatibus, tenetur quidem numquam saepe nisi quam
          doloribus obcaecati sequi! Labore officiis reprehenderit totam quos
          sapiente suscipit dolorum. A aliquam labore impedit consequuntur ab
          illum earum natus distinctio odio commodi, incidunt animi. Officiis
          eaque aperiam, laboriosam qui, sit, totam modi nobis mollitia
          perferendis suscipit vero magnam a praesentium officia voluptates
          nihil. Nobis ipsam repellendus eligendi reiciendis odit dolore
          quisquam, sint id eaque illo quia sit modi iure vero sunt corrupti.
          Quas, nihil harum doloribus recusandae dolor nostrum totam asperiores
          aliquam laboriosam consequatur quam ratione ipsa pariatur, aliquid
          vero quia saepe. A impedit numquam neque. Doloremque libero quis,
          voluptas beatae id atque ad? Assumenda excepturi similique
          necessitatibus odio quae earum nisi laboriosam, ducimus quidem aut!
          Cumque assumenda, natus dolores quo consequuntur obcaecati quae cum
          quisquam quam, totam quaerat repellendus, molestiae eius sit expedita
          ipsa exercitationem! Quaerat praesentium veritatis suscipit hic est
          architecto tempora laudantium. Natus eveniet quia vitae aspernatur id
          quis delectus, vel nam perferendis, similique corrupti ipsum ea ipsa
          quasi blanditiis reprehenderit. Placeat quam quibusdam asperiores
          minus voluptate! Enim laudantium blanditiis recusandae repellendus
          repudiandae commodi vero nesciunt! Praesentium odio ratione ipsa,
          voluptas officiis reiciendis, molestias error excepturi maxime
          dignissimos consectetur at accusantium id sit. Ad labore laudantium
          molestiae ullam doloremque nulla illo ipsum obcaecati consectetur,
          possimus quibusdam eveniet alias unde dignissimos repellat aspernatur
          neque maxime totam ut quam ipsam non! Ipsam dolor fugiat laborum
          reiciendis unde quas, et omnis excepturi laudantium quae autem dolorum
          pariatur qui eligendi illum enim, non adipisci in animi odio
          similique! Possimus totam ducimus iure dignissimos dolorem, eos
          similique facere. Porro sint, ea voluptates sunt quo vero ipsa
          delectus in! Laboriosam culpa maxime fuga quod distinctio id, amet,
          eaque illum, reiciendis aliquid omnis? Quis inventore vero laudantium
          voluptate aliquam officia eaque qui et veritatis, eos quo hic aut
          unde, nam architecto cupiditate placeat autem ratione fuga ab
          reiciendis animi. Impedit quos fuga odit, itaque est quam incidunt.
          Aspernatur facere cumque laborum libero.
        </p>
      </main>
      <footer>Footer</footer>
    </div>

    <script src="./layout.js"></script>
  </body>
</html>
